section {
    &#primary {
        main {
            &#main {
                button {
                    &#show-filter {
                        cursor: pointer;
                        width: 100%;
                        height: 40px;
                        font-size: 16px;
                        font-weight: 700;
                        font-style: normal;
                        color: #515151;
                        border: 1px solid transparent;
                        border-radius: 3px;
                        background-color: #ebe9eb;
                        margin-bottom: 15px;
                        outline: 0;

                        i {
                            font-size: 12px;
                        }
                    }
                }

                #main-filter {
                    float: left;
                    width: 100%;
                    margin-top: 6px;

                    li {
                        &#woocommerce_price_filter-2, &#woocommerce_layered_nav-3, &#woocommerce_layered_nav-2 {
                            float: left;
                            width: 100%;
                            list-style: none;
                            margin-bottom: 20px;

                            &#woocommerce_layered_nav-3 {
                                ul {
                                    li {
                                        float: left;
                                        width: 50%;
                                    }
                                }
                            }
                            
                            h1 {
                                font-size: 18px;
                                font-weight: 500;
                                font-style: normal;
                                color: #000;
                            }
                        }
                    }
                }

                #mobile-filter {
                    float: left;
                    width: 100%;

                    &.closed-filter {
                        display: none;
                        visibility: hidden;
                    }
                    &.opened-filter {
                        display: block;
                        visibility: visible;
                    }

                    li {
                        &#woocommerce_price_filter-3, &#woocommerce_layered_nav-4, &#woocommerce_layered_nav-5 {
                            float: left;
                            width: 100%;
                            list-style: none;
                            margin-bottom: 20px;

                            h1 {
                                font-size: 18px;
                                font-weight: 500;
                                font-style: normal;
                                color: #000;
                            }
                        }

                        &#woocommerce_layered_nav-4, &#woocommerce_layered_nav-5 {
                            form {
                                button {
                                    &[type=submit] {
                                        cursor: pointer;
                                        font-size: 16px;
                                        font-weight: 700;
                                        font-style: normal;
                                        height: 36px;
                                        color: #515151;
                                        border: 1px solid transparent;
                                        border-radius: 3px;
                                        background-color: #ebe9eb;
                                        padding-left: 15px;
                                        padding-right: 15px;
                                        outline: 0;
                                    }
                                }
                            }
                        }

                        &#woocommerce_layered_nav-4 {
                            li {
                                &.select2-search {
                                    input {
                                        text-indent: 5px;
                                    }
                                }
                            }
                        }
                        &#woocommerce_layered_nav-5 {
                            li {
                                &.select2-search {
                                    input {
                                        text-indent: 10px;
                                    }
                                }
                            }
                        }


                    }
                }

                #sun-woocommerce-content {
                    h1 {
                        @media (min-width: 992px) {
                            font-size: 34px;
                        }
                        @media (max-width: 991px) and (min-width: 579px) {
                            font-size: 20px;
                        }
                        @media (max-width: 578px) {
                            font-size: 18px;
                        }
                    }

                    ul {
                        &.products {
                            @media (max-width: 576px) {
                                float: left;
                                margin-top: 15px;
                            }

                            li {
                                &.product {
                                    border: 1px solid #ccc;

                                    a {

                                        h2 {
                                            &.woocommerce-loop-product__title {
                                                font-size: 16px;
                                                font-weight: 400;
                                                font-style: normal;
                                                color: #000;
                                                height: 70px;
                                                padding-left: 15px !important;
                                                padding-right: 15px !important;
                                                margin-top: 7px !important;

                                                @media (max-width: 576px) {
                                                    font-size: 13px;
                                                    padding-left: 10px !important;
                                                    padding-right: 10px !important;
                                                }
                                            }
                                        }

                                        .woocommerce-Price-amount {
                                            font-size: 22px;
                                            font-weight: 500;
                                            font-style: normal;
                                            color: #000;

                                            @media (max-width: 576px) {
                                                font-size: 16px;
                                            }
                                        }
                        
                                        &.button {
                                            width: 75%;
                                            text-align: center;
                                            background-color: #4caf50;
                                            color: #fff;
                                            margin-top: 0px !important;
                                            margin-bottom: 20px;

                                            @media (max-width: 576px) {
                                                font-size: 14px;
                                                width: 80%
                                            }
                                        }

                                        .star-rating {
                                            position: absolute;
                                            right: 0;
                                            left: 0;
                                            margin: auto;
                        
                                            @media (min-width: 1200px) {
                                                top: 258px;
                                            }
                                            @media (max-width: 1199px) and (min-width: 992px) {
                                                top: 216px;
                                            }
                                            @media (max-width: 991px) and (min-width: 769px) {
                                                top: 218px;
                                            }
                                            @media (max-width: 768px) and (min-width: 577px) {
                                                top: 250px;
                                            }
                                            @media (max-width: 576px) {
                                                top: -8px;
                                                right: 10px;
                                                left: initial;
                                            }
                        
                                            span {
                                                color: #ffd700;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}