#page-account {
    float: left;
    width: 100%;
    margin: 40px 0;

    #main-content-account {
        .woocommerce {
            #customer_login {
                div {
                    &.u-column1, &.u-column2 {
                        float: left;
                    }

                    &.u-column1 {
                        form {
                            &.woocommerce-form-login {
                                &.login {
                                    p {
                                        label {
                                            font-family: "Roboto";
                                            font-size: 14px;
                                            font-weight: 400;
                                            font-style: normal;
                                        }

                                        span {
                                            &.password-input {
                                                float: left;
                                                width: 100%;
                                            }
                                        }

                                        input {
                                            &.woocommerce-Input {
                                                border: 1px solid #bbb;
                                                border-radius: 2px;
                                                height: 40px;
                                                text-indent: 10px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                    &.u-column2 {
                        form {
                            &.woocommerce-form-register {
                                &.register {
                                    p {
                                        label {
                                            font-family: "Roboto";
                                            font-size: 14px;
                                            font-weight: 400;
                                            font-style: normal;
                                        }

                                        span {
                                            &.password-input {
                                                float: left;
                                                width: 100%;
                                            }
                                        }

                                        input {
                                            &.woocommerce-Input {
                                                border: 1px solid #bbb;
                                                border-radius: 2px;
                                                height: 40px;
                                                text-indent: 10px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .woocommerce-MyAccount-content {
                p {
                    padding: 0 15px;
                }

                .u-columns {
                    &.woocommerce-Addresses {
                        .u-column1 {
                            &.woocommerce-Address {
                                float: left;

                                header {
                                    &.woocommerce-Address-title {
                                        &.title {
                                            h3 {
                                                font-size: 20px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .u-column2 {
                            &.woocommerce-Address {
                                float: left;

                                header {
                                    &.woocommerce-Address-title {
                                        &.title {
                                            h3 {
                                                font-size: 18px;
                                            }

                                            a {
                                                font-size: 14px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .woocommerce-EditAccountForm {
                    &.edit-account {
                        p {
                            &.woocommerce-form-row {
                                padding: 0;

                                input {
                                    width: 100%;
                                    height: 35px;
                                    border: 1px solid #bbb;
                                    text-indent: 10px;
                                }
                            }

                            label {
                                margin-right: 10px;
                            }
                        }
                    }
                }

                form {
                    .woocommerce-address-fields {
                        .woocommerce-address-fields__field-wrapper {
                            p {
                                &.form-row {
                                    label {
                                        margin-right: 10px;
                                    }

                                    span {
                                        &.woocommerce-input-wrapper {
                                            input {
                                                height: 35px;
                                                border: 1px solid #bbb;
                                                text-indent: 10px;
                                            }
                                        }
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}