#page-checkout {
    float: left;
    width: 100%;
    margin: 40px 0;

    .main-content-checkout {
        .woocommerce {
            form {
                &.checkout {
                    &.woocommerce-checkout {
                        #customer_details {
                            .checkout-data-user, .checkout-more-data {
                                float: left;
                            } 
                        }
                    }
                }
            }
        }
    }
}