body {
    float: left;
    width: 100%;
}

.container-custom{
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
        max-width: 680px;
    }

    @media (min-width: 768px) {
        max-width: 900px;
    }

    @media (min-width: 992px) {
        max-width: 1080px;
    }

    @media (min-width: 1200px) {
        max-width: 1420px;
    }
}

.header-fixed {
    position: fixed !important;
    background-color: #3F3F3F;
    margin-top: 0px;
    transition-duration: .6s;
}

.menu-opened {
    span {
        &.hamburger {
            float: left;
            position: relative;
            width: 30px;
            height: 2px;
            background-color: #FFFFFF;
            transition: all .3s linear;
            background-color: transparent;

            &:before {
                position: absolute;
                content: '';
                top: -8px;
                left: 0;
                width: 30px;
                height: 2px;
                background-color: #FFFFFF;
                transform: translate(0px, 8px) rotate(45deg);
                transition: all .3s linear;
            }

            &:after {
                position: absolute;
                content: '';
                bottom: -8px;
                left: 0;
                width: 30px;
                height: 2px;
                background-color: #FFFFFF;
                transform: translate(0px, -8px) rotate(-45deg);
                transition: all .3s linear;
            }
        }
    }
}