#main-image {
    cursor: pointer;
    background-color: #dd9933;
    border: none;
    border-radius: 4px;
    position: fixed;
    bottom: 100px;
    right: 28px;
    width: 58px;
    height: 54px;
    opacity: 0;
    z-index: 999;

    @media (max-width: 768px) and (min-width: 669px) {
        right: 15px;
        bottom: 85px;
    }

    @media (max-width: 668px) and (min-width: 481px) {
        right: 28px;
        bottom: 98px;
    }

    @media (max-width: 480px) {
        right: 15px;
        bottom: 85px;
    }

    i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 36px;
        color: #fff;

    }
}