#main-image {
    cursor: pointer;
    background-color: #dd9933;
    border: none;
    border-radius: 4px;
    position: fixed;
    bottom: 100px;
    right: 28px;
    width: 60px;
    height: 54px;
    z-index: 999;

    @media (max-width: 480px) {
        right: 15px;
    }

    i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 36px;
        color: #fff;

    }
}