#bottom-header {
    display: flex;
    align-items: center;
    float: left;
    width: 100%;
    height: 45px;
    background-color: #000;

    #bottom-header-container {
        height: 100%;

        #product-categories-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            float: left;
            width: 100%;
            height: 100%;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                position: relative;
                float: left;
                width: auto;
                height: 100%;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;

                #menu-arrow-down {
                    font-size: 12px;
                    padding-left: 10px;
                }

                a {
                    float: left;
                    height: 100%;
                    color: #FFF;
                    text-decoration: none;
                }

                &:hover {
                    ul {
                        &.second-level {
                            display: block;
                            visibility: visible;
                        }
                    }
                }

                ul {
                    &.second-level {
                        position: absolute;
                        top: 41px;
                        left: 0;
                        width: 400px;
                        display: none;
                        visibility: hidden;
                        background-color: #FFF;
                        border-top: 3px solid #dd9933;
                        margin: 0;
                        padding: 0;
                        z-index: 99;

                        li {
                            float: left;
                            width: 100%;
                            font-size: 13px;
                            font-weight: 400;
                            font-style: normal;
                            list-style: none;
                            padding: 8px 0 8px 15px;

                            a {
                                color: #000;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}