#brands-banners {
    float: left;
    width: 100%;
    background-color: #000;

    ul {
        position: relative;
        margin: 0;
        padding: 0;

        .owl-nav {
            height: 0;
        }

        li {
            float: left;
            width: 100%;
            list-style: none;

            a {
                float: left;
                width: 100%;
            
                img {
                    width: auto;
                    height: auto;
                    margin: auto;

                    @media (max-width: 992px) and (min-width: 769px) {
                        height: 75px;
                    }
                    @media (max-width: 768px) {
                        height: 75px;
                    }
                }
            }
        }

        .owl-nav {
            position: absolute;
            top: 30%;
            width: 100%;
            margin: 0;

            button {
                &.owl-prev {
                    float: left;
                    outline: none;

                    &:hover {
                        background-color: transparent;
                    }
                    
                    i {
                        font-size: 28px;
                        color: #000;
                    }
                }

                &.owl-next {
                    float: right;
                    margin-right: 4px;
                    outline: none;

                    &:hover {
                        background-color: transparent;
                    }
                    
                    i {
                        font-size: 28px;
                        color: #000;
                    }
                }
            }
        }
    }
}