#brands-banners {
    float: left;
    width: 100%;
    background-color: #000;

    ul {
        margin: 0;
        padding: 0;

        li {
            float: left;
            width: 100%;
            list-style: none;

            a {
                float: left;
                width: 100%;
            
                img {
                    width: auto;
                    height: auto;
                    margin: auto;

                    @media (max-width: 992px) and (min-width: 769px) {
                        height: 75px;
                    }
                    @media (max-width: 768px) {
                        height: 75px;
                    }
                }
            }
        }
    }
}