section {
    &.main-contents {
        float: left;
        width: 100%;
        height: auto;
        padding: 35px 0 35px 0;
        background-color: #FFF;

        h4 {
            font-family: 'Montserrat';
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 25px;
            border-left: 8px solid #000;
            padding: 8px 0 8px 10px;
            text-transform: uppercase;
        }
    }
}