section {
    &#instagram {
        h4 {
            @media (max-width: 768px) {
                font-size: 26px;
            }

            a {
                color: #000;
                text-decoration: none;
            }
        }

        #sb_instagram {
            margin-top: 15px;
            margin-bottom: 45px;
        
            .sbi_header_text {
               p {
                   &.sbi_bio {
                       font-size: 20px;
                       font-weight: 500;
                   }
               } 
            }
        }
    }
}