section {
    &#leads {
        float: left;
        width: 100%;
        height: 120px;
        background-color: #00eeff;
        padding-top: 20px;
        padding-bottom: 20px;

        #leads-title {

            @media (min-width: 992px) {
                text-align: left;
            }

            @media (max-width: 991px) {
                text-align: center;
            }

            h6 {
                font-family: 'Montserrat';
                font-size: 12px;
                font-weight: 400;
                font-style: normal;
                color: #000;
                text-transform: uppercase;
                margin: 0;
            }

            h5 {
                font-family: 'Montserrat';
                font-size: 30px;
                font-weight: 600;
                font-style: normal;
                color: #000;
                text-transform: uppercase;
                margin: 0;
            }
        }
    }
}