#main-banners {
    float: left;
    width: 100%;

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}