#main-banners {
    float: left;
    width: 100%;

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;

            img {
                width: 100%;
                height: auto;

                @media (max-width: 991px) and (min-width: 579px) {
                    height: 275px;
                    object-fit: cover;
                }
                @media (max-width: 578px) {
                    height: 300px;
                    object-fit: cover;
                }
            }
        }
    }
}