.product-banner {
    float: left;
    width: 100%;
    
    &#tshirts-product-banner {
        margin-top: 50px;
    }

    .banners-home {
        a {
            float: left;
            width: 100%;
        
            img {
                float: left;
                width: 100%;
                padding: 0 15px; 
            }
        }

        &.winter-sneakers {
            a {
                img {
                    @media (max-width: 768px) and (min-width: 480px) {
                        object-fit: cover;
                        object-position: right;
                        height: 100px;
                    }
                    @media (max-width: 479px) {
                        object-fit: cover;
                        object-position: right;
                        height: 90px;
                    }
                }
            }
        }

        &.cap {
            a {
                img {
                    @media (max-width: 768px) and (min-width: 480px) {
                        object-fit: cover;
                        object-position: right;
                        height: 55px;
                    }
                    @media (max-width: 479px) {
                        object-fit: cover;
                        object-position: right;
                        height: 40px;
                    }
                }
            }
        }
    }
}