.product-banner {
    float: left;
    width: 100%;
    
    &#tshirts-product-banner {
        margin-top: 50px;
    }

    .banners-home {
        float: left;
        width: 100%;

        a {
            float: left;
            width: 100%;
        
            img {
                float: left;
                width: 100%;
                max-width: 100%;
            }
        }
    }
}