.product-banner {
    float: left;
    width: 100%;
    
    &#tshirts-product-banner {
        margin-top: 50px;
    }

    .banners-home {
        a {
            float: left;
            width: 100%;
        
            img {
                float: left;
                width: 100%;
                padding: 0 15px;
            }
        }
    }
}