section {
    &#testimonials {

        h4 {
            font-family: 'Montserrat';
            font-size: 30px;
            margin-bottom: 25px;
            border-left: 8px solid #000;
            padding: 8px 0 8px 10px;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                &.testimonial-post {
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    height: 160px;
                    margin-top: 7px;
                    margin-right: 5px;
                    margin-left: 5px;
                    padding: 15px;

                    .testimonial-excerpt {
                        height: 100px;
                        text-align: left;
                        font-size: 16px;
                        font-weight: 400;
                        font-style: italic;
                    }
                    .testimonial-title {
                        float: left;
                        font-size: 16px;
                        font-weight: 500;
                        font-style: normal;
                    }
                    .testimonial-date {
                        float: right;
                        font-size: 14px;
                        font-weight: 400;
                        font-style: normal;
                        margin-top: 3px;
                    }
                    .testimonial-stars {
                        position: absolute;
                        top: -5px;
                        right: 15px;
                        background-color: #fff;

                        span {
                            color: gold;
                        }
                    }
                }
            }
        }
    }
}