footer {
    float: left;
    width: 100%;
    height: auto;
    padding: 50px 0;
    background-color: #222;

    h6 {
        font-family: 'Montserrat';
        font-size: 15px;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: #fff;
        border-left: 2px solid #d93;
        padding-left: 10px;
    }

    ul {
        margin: 0;
        padding: 0;

        &#footer-attendance {
            li {
                margin-bottom: 20px;
            }
        }

        li {
            float: left;
            width: 100%;
            list-style: none;
            font-family: 'Roboto';
            font-size: 16px;
            color: #fff;
            margin-bottom: 10px;

            #whatsapp-contact-footer {
                float: left;

                span {
                    float: left;
                    width: 100%;
                }
            }

            #attendance-contact-footer {
                float: left;
                width: 140px;

                span {
                    float: left;
                    width: 100%;
                }
            }

            span {
                color: #fff;

                &#whatsapp-icon, &#attendance-icon {
                    float: left;
                    margin-right: 10px;
                }

                i {
                    color: green;
                    font-size: 40px;
                    margin-top: 3px;

                    @media (min-width: 992px) and (max-width: 1199px) {
                        font-size: 22px;
                    }

                    &#clock {
                        color: #d79316;
                        font-size: 35px;

                        @media (min-width: 992px) and (max-width: 1199px) {
                            font-size: 17px;
                        }
                    }
                }
            }

            a{
                text-transform: none;
                color: #fff;
            }
        }

        &#footer-my-account {
            h6 {
                &#safe-store {
                    float: left;
                    width: 100%;
                    margin-top: 20px;
                }
            }

            @media (max-width: 991px) {
                margin-top: 30px;
            }
        }

        &.footer-content {

            a {
                text-decoration: none;
            }

            @media (max-width: 577px) {
                margin-top: 30px;
            }
        }

        &#footer-facebook {
            @media (max-width: 991px) {
                margin-top: 30px;
            }

            iframe {
                @media (min-width: 578px) and (max-width: 768px) {
                    width: 250px !important;
                }
                @media (max-width: 567px) {
                    width: 100% !important;
                }
            }
        }
    }
}