header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    // margin-top: 15px;
    padding: 15px 0;
    z-index: 9;
    background-color: #000;

    #logo {
        h1 {
            font-family: 'Montserrat';
            margin: 0;
            line-height: 90px;

            a {
                text-decoration: none;
                color: #FFFFFF;
            }
        }
    }

    #header-menu {
        .menu-menu-container {
            ul {
                &#menu-menu {
                    margin: 0;
                    padding: 0;
        
                    li {
                        font-family: 'Montserrat';
                        list-style: none;
                        float: left;
                        padding: 0 5px;
                        line-height: 90px;

                        a {
                            cursor: pointer;
                            text-decoration: none;
                            color: #FFFFFF;
                            padding: 10px;
                        }

                        &:last-child {
                            padding: 0 0 0 10px

                            a {
                                padding: 10px 0 10px 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    #social-media-header {
        align-items: center;

        a {
            color: #fff;
            text-decoration: none;

            i {
                font-size: 24px;
                margin-left: 15px;
            }
        }
    }
}