header {
    #mobile-header {
        @media (max-width: 991px) {
            display: flex;
            align-items: center;
            width: 100%;
            height: 55px;
            z-index: 9;
            background-color: #000;

            #main-icon {
                align-items: center;
                height: 55px;
            
                #btn-icon {
                    cursor: pointer;
                    float: left;
                    display: flex;
                    align-items: center;
                    width: 30px;
                    height: 20px;
            
                    &.menu-closed {
                        span {
                            &.hamburger {
                                float: left;
                                position: relative;
                                width: 30px;
                                height: 2px;
                                background-color: #FFFFFF;
                                transition: all .3s linear;
            
                                &:before {
                                    position: absolute;
                                    content: '';
                                    top: -8px;
                                    left: 0;
                                    width: 30px;
                                    height: 2px;
                                    background-color: #FFFFFF;
                                    transition: all .3s linear;
                                }
            
                                &:after {
                                    position: absolute;
                                    content: '';
                                    bottom: -8px;
                                    left: 0;
                                    width: 30px;
                                    height: 2px;
                                    background-color: #FFFFFF;
                                    transition: all .3s linear;
                                }
                            }
                        }
                    }
                }
            }

            #mobile-logo {
                h1 {
                    margin: 0;

                    a {
                        img {
                            width: 42px;
                            height: auto;
                        }
                    }
                }
            }

            #mobile-mini-cart {
                justify-content: flex-end;
                align-items: center;

                a {
                    &#mobile-header-mini-cart {
                        position: relative;

                        @media (max-width: 577px) {
                            margin-right: 6px;           
                        }

                        i {
                            font-size: 22px;
                            color: #fff;
                        }

                        span {
                            &.products-quantity {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: absolute;
                                top: 6px;
                                left: 16px;
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                background-color: #dd9933;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    nav {
        &#responsive-menu {
            position: fixed;
            top: 55px;
            left: 0;
            width: 100%;
            height: 93%;
            visibility: hidden;
            opacity: 0;
            //background-color: #222;
            background-color: #fff;
            //padding: 30px 25px;
            padding-bottom: 30px;
            z-index: 999;
            transition: all .3s ease-out;
            overflow: auto;
    
            @media (max-height: 500px) {
                padding-top: 40px;
                padding-bottom: 40px;
            }
    
            &.open-menu-responsive {
                visibility: visible;
                opacity: 100%;
            }
    
            ul {
                list-style: none;
    
                #menu-list {
                    float: left;
                    width: 100%;

                    h6 {
                        float: left;
                        width: 100%;
                        font-family: "Montserrat";
                        font-size: 15px;
                        font-weight: 600;
                        font-style: normal;
                        text-transform: uppercase;
                        color: #fff;
                        padding-top: 25px;
                        padding-bottom: 25px;
                        margin: 0;
                        //border-bottom: 1px solid #fff;
                        border-bottom: 1px solid #000;

                        a {
                            display: flex;
                            align-items: baseline;
                            justify-content: start;
                            float: left;
                            text-decoration: none;
                            color: #000;

                            i {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                float: left;
                                width: 35px;
                                height: 35px;
                                font-size: 22px;
                                color: #fff;
                                background: #000;
                                border-radius: 50%;
                                margin-right: 7px;
                                
                            }
                        }
                    }
    
                    #mobile-product-categories-header {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: start;
                        float: left;
                        width: 100%;
                        height: 100%;
                        list-style: none;
                        margin: 20px 0 0 0;
                        padding: 0;
        
                        li {
                            position: relative;
                            float: left;
                            width: 100%;
                            height: 100%;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            border-bottom: 1px solid #bbb;
                            //padding: 4px 0;
        
                            .mobile-menu-arrow-down {
                                display: flex;
                                align-items: center;
                                width: 22px;
                                height: 54px;                
                                font-size: 12px;
                                padding: 15px 0;
                                color: #000;
                            }
        
                            a {
                                float: left;
                                width: 94%;
                                height: 100%;
                                color: #000;
                                padding: 15px 0;
                                text-decoration: none;
        
                                i {
                                    font-size: 26px;
                                }
                            }
        
                            &.opened-mobile-second-level {
                                ul {
                                    &.mobile-second-level {
                                        display: block;
                                        visibility: visible;
                                    }
                                }
                            }
        
                            ul {
                                float: left;
                                width: 100%;
                                display: none;
                                visibility: hidden;
                                //background-color: #FFF;
                                margin: 0;
                                padding: 0;
                                z-index: 99;
        
                                li {
                                    float: left;
                                    width: 100%;
                                    font-size: 13px;
                                    font-weight: 400;
                                    font-style: normal;
                                    list-style: none;
                                    padding: 5px 0 5px 15px;
        
                                    a {
                                        color: #000;
                                        text-decoration: none;
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
}