header {
    #mobile-header {
        @media (max-width: 991px) {
            display: flex;
            align-items: center;
            width: 100%;
            height: 55px;
            z-index: 9;
            background-color: #000;

            #main-icon {
                align-items: center;
                height: 55px;
            
                #btn-icon {
                    cursor: pointer;
                    float: left;
                    display: flex;
                    align-items: center;
                    width: 30px;
                    height: 20px;
            
                    &.menu-closed {
                        span {
                            &.hamburger {
                                float: left;
                                position: relative;
                                width: 30px;
                                height: 2px;
                                background-color: #FFFFFF;
                                transition: all .3s linear;
            
                                &:before {
                                    position: absolute;
                                    content: '';
                                    top: -8px;
                                    left: 0;
                                    width: 30px;
                                    height: 2px;
                                    background-color: #FFFFFF;
                                    transition: all .3s linear;
                                }
            
                                &:after {
                                    position: absolute;
                                    content: '';
                                    bottom: -8px;
                                    left: 0;
                                    width: 30px;
                                    height: 2px;
                                    background-color: #FFFFFF;
                                    transition: all .3s linear;
                                }
                            }
                        }
                    }
                }
            }

            #mobile-logo {
                h1 {
                    margin: 0;

                    a {
                        img {
                            width: 42px;
                            height: auto;
                        }
                    }
                }
            }

            #mobile-mini-cart {
                justify-content: flex-end;
                align-items: center;

                a {
                    &#mobile-header-mini-cart {
                        position: relative;

                        i {
                            font-size: 22px;
                            color: #fff;
                        }

                        span {
                            &.products-quantity {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: absolute;
                                top: 6px;
                                left: 24px;
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                background-color: #dd9933;
                                color: #fff
                            }
                        }
                    }
                }
            }
        }
    }

    nav {
        &#responsive-menu {
            background-color: #FFFFFF;
            position: fixed;
            top: 60px;
            left: 0;
            width: 100%;
            height: 93%;
            visibility: hidden;
            opacity: 0;
            background-color: #FFFFFF;
            padding: 60px 25px;
            z-index: 999;
            transition: all .3s ease-out;
    
            @media (max-height: 500px) {
                padding-top: 40px;
                padding-bottom: 40px;
            }
    
            &.open-menu-responsive {
                visibility: visible;
                opacity: 100%;
            }
    
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
    
                &#menu-list {
                    h6 {
                        font-family: "Montserrat";
                        font-size: 30px;
                        font-weight: 400;
                        font-style: normal;
                        margin-bottom: 15px;
    
                        @media (max-height: 500px) {
                            font-size: 26px;
                        }
                    }
    
                    li {
                        font-family: 'Roboto';
                        font-size: 20px;
                        font-weight: 300;
                        font-style: normal;
                        line-height: 40px;
                        margin-bottom: 5px;
    
                        @media (max-height: 600px) and (min-height: 501px) {
                            line-height: 35px;
                        }
                        @media (max-height: 500px) {
                            font-size: 18px;
                            line-height: 30px;
                        }
    
                        a {
                            text-decoration: none;
                            color: inherit;
    
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
    
                &#menu-social-medias {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    bottom: 45px;
                    display: flex;
                    justify-content: center;
    
                    i {
                        text-align: center;
                        float: left;
                        color: #000;
                        font-size: 18px;
                        margin: 0 10px;
                    }
                    
                }
            }
        }
    }
}