#main-search {
    form {
        &#searchform {
            position: relative;
            width: 100%;

            input {
                &#s {
                    width: 100%;
                    text-indent: 10px;
                    height: 40px;
                    background: transparent;
                    color: #fff;
                    border-bottom: 1.5px solid #ccc;
                    border-top: none;
                    border-left: none;
                    border-right: none;

                    &:focus {
                        outline: none;
                    }
                }
            }

            button {
                &#searchsubmit {
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: transparent;
                    border: none;
                    z-index: 999;

                    i {
                        color: #fff;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}