.products-home-carousel {
    li {
        &.product {
            text-align: center;
            border: 1px solid #ccc;
            margin-right: 8px !important;
            margin-left: 8px !important;
            padding-right: 0 !important;
            padding-left: 0 !important;

            a {
                &:focus {
                    outline: none;
                }

                &.button {
                    width: 75%;
                    text-align: center;
                    background-color: #4caf50;
                    color: #fff;
                    margin-top: 0px !important;
                    margin-bottom: 20px;
                }
            }
           
            h2 {
                &.woocommerce-loop-product__title {
                    font-size: 16px;
                    font-weight: 400;
                    font-style: normal;
                    color: #000;
                    height: 70px;
                    padding-left: 15px !important;
                    padding-right: 15px !important;

                    &:focus {
                        outline: none;
                    }
                }
            }

            .woocommerce-Price-amount {
                font-size: 22px;
                font-weight: 500;
                font-style: normal;
                color: #000;
            }
        }
    }
}