.products-home-carousel, .products-home-carousel-responsive {
    li {
        &.product {
            position: relative;
            width: 96% !important;
            text-align: center;
            border: 1px solid #ccc;
            margin-top: 10px !important;
            margin-right: 1% !important;
            margin-left: 1% !important;
            padding-right: 0 !important;
            padding-left: 0 !important;

            a {
                &:focus {
                    outline: none;
                }

                img {
                    @media (min-width: 1199px) {
                        width: 100%;
                        height: 264px !important;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                .star-rating {
                    position: absolute;
                    right: 0;
                    left: 0;
                    margin: auto;

                    @media (min-width: 1200px) {
                        top: 270px;
                    }
                    @media (max-width: 1199px) and (min-width: 1023px) {
                        top: 300px;
                    }
                    @media (max-width: 1022px) and (min-width: 992px) {
                        top: 300px;
                    }
                    @media (max-width: 991px) and (min-width: 769px) {
                        top: 334px;
                    }
                    @media (max-width: 768px) and (min-width: 577px) {
                        top: 248px;
                    }
                    @media (max-width: 576px) {
                        top: -8px;
                        right: 10px;
                        left: initial;
                    }

                    span {
                        color: #ffd700;
                    }
                }

                &.button {
                    width: 75%;
                    text-align: center;
                    background-color: #4caf50;
                    color: #fff;
                    margin-top: 0px !important;
                    margin-bottom: 20px;
                }
            }
           
            h2 {
                &.woocommerce-loop-product__title {
                    font-size: 16px;
                    font-weight: 400;
                    font-style: normal;
                    color: #000;
                    height: 70px;
                    padding-left: 15px !important;
                    padding-right: 15px !important;
                    margin-top: 7px !important;

                    @media (max-width: 480px) and (min-width: 380px) {
                        font-size: 13px !important;
                        height: 100px;
                    }

                    @media (max-width: 379px) {
                        font-size: 13px !important;
                        height: 105px;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }

            .woocommerce-Price-amount {
                font-size: 22px;
                font-weight: 700;
                font-style: normal;
                color: #000;

                @media (max-width: 480px) and (min-width: 380px) {
                    font-size: 18px;
                }

                @media (max-width: 379px) {
                    font-size: 16px;
                }
            }
        }
    }

    .woocommerce {
        ul {
            &.products {
                position: relative;
                
                .owl-nav {
                    position: absolute;
                    top: 36%;
                    width: 100%;

                    button {
                        &.owl-prev {
                            float: left;
                            outline: none;

                            i {
                                font-size: 28px;
                            }
                        }

                        &.owl-next {
                            float: right;
                            margin-right: 4px;
                            outline: none;
                            
                            i {
                                font-size: 28px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.products-home-carousel {
    @media (min-width: 992px) {
        display: block;
        visibility: visible;
    }
    @media (max-width: 991px) {
        display: none;
        visibility: hidden;
    }
}

.products-home-carousel-responsive {
    @media (min-width: 992px) {
        display: none;
        visibility: hidden;
    }
    @media (max-width: 991px) {
        display: block;
        visibility: visible;
    }
}