.products-home-carousel {
    li {
        &.product {
            position: relative;
            text-align: center;
            border: 1px solid #ccc;
            margin-right: 8px !important;
            margin-left: 8px !important;
            padding-right: 0 !important;
            padding-left: 0 !important;

            a {
                &:focus {
                    outline: none;
                }

                .star-rating {
                    position: absolute;
                    right: 0;
                    left: 0;
                    margin: auto;

                    @media (min-width: 1200px) {
                        top: 270px;
                    }
                    @media (max-width: 1199px) and (min-width: 1023px) {
                        top: 224px;
                    }
                    @media (max-width: 1022px) and (min-width: 992px) {
                        top: 302px;
                    }
                    @media (max-width: 991px) and (min-width: 769px) {
                        top: 224px;
                    }
                    @media (max-width: 768px) and (min-width: 577px) {
                        top: 248px;
                    }
                    @media (max-width: 576px) {
                        top: -8px;
                        right: 10px;
                        left: initial;
                    }

                    span {
                        color: #ffd700;
                    }
                }

                &.button {
                    width: 75%;
                    text-align: center;
                    background-color: #4caf50;
                    color: #fff;
                    margin-top: 0px !important;
                    margin-bottom: 20px;
                }
            }
           
            h2 {
                &.woocommerce-loop-product__title {
                    font-size: 16px;
                    font-weight: 400;
                    font-style: normal;
                    color: #000;
                    height: 70px;
                    padding-left: 15px !important;
                    padding-right: 15px !important;
                    margin-top: 7px !important;

                    &:focus {
                        outline: none;
                    }
                }
            }

            .woocommerce-Price-amount {
                font-size: 22px;
                font-weight: 700;
                font-style: normal;
                color: #000;
            }
        }
    }
}