#registerModal {
    .modal-body {
        .woocommerce {
            #customer_login {
                .u-column1 {
                    display: none;
                    visibility: hidden;
                }
                .u-column2 {
                    h2 {
                        display: none;
                        visibility: hidden;
                    }

                    form {
                        margin-top: 15px;
                        margin-bottom: 15px;
                        padding: 15px 20px 15px 20px;

                        p {
                            display: block;

                            label {
                                font-family: "Roboto";
                                font-size: 14px;
                                font-weight: 700;
                                font-style: normal;
                                margin-bottom: 0;
                            }
                            input {
                                float: left;
                                width: 100%;
                                height: 40px;
                                border: 1px solid #d5d5d5;
                                border-radius: 4px;
                                text-indent: 10px;
                            }

                            span {

                                input {
                                    float: left;
                                    width: 100%;
                                    height: 40px;
                                    border: 1px solid #d5d5d5;
                                    text-indent: 10px;
                                }
                            }

                            button {
                                &[type=submit] {
                                    float: right;
                                    color: #fff;
                                    background-color: #dd9933;
                                    outline: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}