.second-pages {
    float: left;
    width: 100%;
    @media (min-width: 992px) {
        margin: 75px 0;
    }
    @media (max-width: 991px) {
        margin: 40px 0;
    }

    .second-pages-content {
        margin-top: 20px;
    
        p {
            margin-bottom: 20px;
        }
    }
}