body {
    &.page {
        &.page-id-1820 {
            position: relative;

            #page-login-register {
                //float: left;
                width: 55%;
                margin: 60px auto;

                @media (max-width: 1199px) and (min-width: 992px) {
                    width: 70%;
                }
                @media (max-width: 991px) and (min-width: 576px) {
                    width: 90%;
                }
                @media (max-width: 575px) {
                    width: 97%;
                }
            
                .black-mask {
                    cursor: default;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 11, 24, 0.6);
                }
            
                #main-box-register {
                    float: left;
                    width: 100%;
                    height: auto;
                    background-color: #fff;
                    border-radius: 10px;
                    box-shadow: 0px 0px 10px #777;

                    .title-box-register {
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;
                        float: left;
                        width: 100%;
                        border-bottom: 1px solid #bbb;
                        padding: 15px 40px;

                        h5 {
                            float: left;
                            font-family: "Montserrat";
                            font-size: 25px;
                            font-weight: 400;
                            font-style: normal;
                            margin: 0;
                        }

                        i {
                            float: right;
                        }
                    }

                    #content-box-register {
                        float: left;
                        width: 100%;
                        padding: 15px 22px 30px 22px;

                        .woocommerce {
                            float: left;
                            //padding-right: 25px;

                            #customer_login {
                                .u-column1 {
                                    float: left;

                                    @media (min-width: 992px) {
                                        padding: 0 10px 0 0;
                                    }
                                    @media (max-width: 991px) {
                                        padding: 0;
                                    }

                                    h2 {
                                        display: none;
                                        visibility: hidden;
                                    }

                                    form {
                                        p {
                                            margin-bottom: 0;

                                            label {
                                                font-family: "Roboto";
                                                font-size: 14px;
                                                font-weight: 700;
                                                font-style: normal;
                                                margin-bottom: 0;
                                            }

                                            input {
                                                &.woocommerce-Input {
                                                    width: 100%;
                                                    height: 35px;
                                                    text-indent: 10px;
                                                    border: 1px solid #d5d5d5;
                                                    border-radius: 4px;
                                                }
                                            }

                                            // span {
                                            //     &.password-input {
                                            //         float: left;
                                            //         width: 100%;
                                            //     }
                                            // }

                                            &.form-row {
                                                display: block;

                                                button {
                                                    &[type=submit] {
                                                        float: right;
                                                        color: #fff;
                                                        background-color: #dd9933;
                                                        margin: 4px 0 0 0;
                                                        outline: none;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .woocommerce-form-login {
                                        border: none;
                                        padding: 0;
                                        margin: 0;
                                    }
                                }
                                .u-column2 {
                                    float: left;
                                    
                                    @media (min-width: 992px) {
                                        padding-right: 0;
                                    }
                                    @media (max-width: 991px) {
                                        padding: 0;
                                    }


                                    h2 {
                                        display: none;
                                        visibility: hidden;
                                    }
                                    form {
                                        display: none;
                                        visibility: hidden;
                                    }




                                    #first-register {
                                        float: left;
                                        width: 100%;
                                        border: 2px dashed #ccc;
                                        margin-top: 10px;
                                        padding: 22px 25px 30px 25px;
                                        
                                        h6 {
                                            font-family: "Roboto";
                                            font-size: 24px;
                                            font-weight: 700;
                                            font-style: normal;
                                            text-align: center;
                                        }
            
                                        a {
                                            cursor: pointer;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            float: left;
                                            width: 100%;
                                            height: 45px;
                                            font-family: "Roboto";
                                            font-size: 18px;
                                            font-weight: 700;
                                            font-style: normal;
                                            text-align: center;
                                            color: #fff;
                                            background-color: #dd9933;
                                            border: none;
                                            margin-bottom: 10px;
            
                                            &:hover {
                                                text-transform: hover;
                                            }
                                        }
            
                                        #text-register {
                                            i {
                                                float: left;
                                                width: 25px;
                                                color: #bbb;
                                                font-size: 16px;
                                                margin-top: 3px;
                                            }
            
                                            span {
                                                float: left;
                                                width: 88%;
                                                font-family: "Roboto";
                                                font-size: 14px;
                                                font-weight: 700;
                                                font-style: normal;
                                                color: #5f5f5f;
                                                
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}