body {
    &.page {
        &.page-id-1820 {
            position: relative;

            #page-register {
                //float: left;
                width: 55%;
                margin: 60px auto;
            
                .black-mask {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 11, 24, 0.6);
                }
            
                #main-box-register {
                    float: left;
                    width: 100%;
                    height: auto;
                    background-color: #fff;
                    border-radius: 10px;
                    box-shadow: 0px 0px 10px #777;

                    .title-box-register {
                        font-family: "Montserrat";
                        font-size: 25px;
                        font-weight: 400;
                        font-style: normal;
                        border-bottom: 1px solid #bbb;
                        padding: 15px 40px;
                    }

                    .content-box-register {
                        padding: 15px 22px;

                        .woocommerce {
                            #customer_login {
                                .u-column1 {
                                    float: left;

                                    h2 {
                                        display: none;
                                        visibility: hidden;
                                    }

                                    form {
                                        p {
                                            margin-bottom: 0;

                                            label {
                                                font-family: "Roboto";
                                                font-size: 14px;
                                                font-weight: 700;
                                                font-style: normal;
                                                margin-bottom: 0;
                                                color: #fff;
                                            }

                                            input {
                                                &.woocommerce-Input {
                                                    width: 100%;
                                                    height: 35px;
                                                    text-indent: 10px;
                                                    border: none;
                                                    border-radius: 4px;
                                                }
                                            }

                                            span {
                                                &.password-input {
                                                    float: left;
                                                    width: 100%;
                                                }
                                            }
                                        }
                                    }

                                    .woocommerce-form-login {
                                        border: none;
                                        padding: 0;
                                        margin: 0;
                                    }
                                }
                                .u-column2 {
                                    display: none;
                                    visibility: hidden;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}